.idea
build
.project
*.kdev4*

# Visual Studio
*.sln
*.ncb
*.vcproj
*.vscode

# Output
bin/
lib/

# CMake
CMakeCache.txt
CMakeFiles
cmake_install.cmake
cmake_uninstall.cmake
*.dir/

# MakeFile
Makefile
code/Makefile
test/Makefile
test/headercheck/Makefile

# Assimp
DartConfiguration.tcl
CTestTestfile.cmake
